{{#each this}}
<div class="card flex">
    <div class="card-body p-2">
        <p>{{comment}}</p>
        <p><span class="m-2">-</span><i>{{user.username}}, {{formatDate created_at}}</i></p>
    </div>
</div>
{{/each}}