<div class="card">
    <div class="card-header">
        <h3 class="card-title">{{title}}</h3>
        <h5 class="card-subtitle">Posted by {{user.username}} on {{formatDate created_at}}</h5>
    </div>         
    <div class="card-body">  
        <p class="card-text">{{content}}</p>
    </div>   
  
</div>  