<div class="card">
    <h2 class="card-header">Create New Post</h2>

    <form class="card-body" id="createform">

      <div class="mb-6">
        <div><label class="form-label">Title</label></div>
        <input type="text" class="form-input" name="blogpost-title"/>
      </div>

      <div class="mb-6">
        <div><label class="form-label">Content</label></div>
        <textarea class="form-textarea form-input" name="blogpost-content"></textarea>
      </div>

      <div class="mb-6">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>

    </form>
</div>
<script src="/js/create.js"></script>