<div class="card p-2">
  <h2 class="card-header">Edit Post</h2>
  <form class="card-body updateform">

    <div class="form-group">
      <label class="form-label">Title</label>
      <input type="text" class="form-input" name="blogpost-title" value="{{blogpost.title}}" />
    </div>

    <div class="form-group">
      <label class="form-label">Content</label>
      <textarea class="form-textarea form-input" name="blogpost-content">{{blogpost.content}}</textarea>
    </div>

    <div class="form-group">
      <div class="m-1">
        <button  id="update-btn" class="btn btn-secondary btn-block">Upate Post</button>
      </div>

      <div class="m-1">
        <button  id="delete-btn" class="btn btn-secondary btn-block">Delete</button>
      </div>

    </div>

  </form>

</div>
<script src="/js/update.js"></script>