header,
.project:not(:last-child) {
    border-bottom: 1px solid #ccc;
    background-color: #23100F;
}

header a {
    color: #E7FBE2 !important;
    text-decoration: none;
}

.header {
    background-color: #E7FBE2;
    box-shadow: 5px 5px #A7A7A7;
    border-radius: 10px;
}

.header a {
    color: #23100F !important;
    text-decoration: none;

}

a{
    color: #E7FBE2 !important;
    text-decoration: none;
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
}

.no-button:hover {
    color: #065b83;
    text-decoration: underline;
}

p::first-letter {
    text-transform:capitalize;
}
.new-post{
    width: 20%;
    height: 50%;
}

a .view-comment{
    color: black;
}